/****************************************
*************   BASIC  DESIGN   *********
****************************************/

body {
    font-size: 22px;
    background-image: url(./../images/geometry2.png);
    font-family: 'Coda', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    padding: 3rem;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
    padding-top: 2rem; 
}

h3 {
    font-size: 2.17rem;
    margin: 3rem;
}

h4 {
    font-size: 2.12rem;
}

p {
    font-size: 2rem;
}

.hiddenElement {
    display:none;
}

.showElement {
    display: block;
}

/****************************************
***********   INFO SECTION   ************
****************************************/

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.start {
    width: 9rem;
    height: 5rem;
    margin: 5rem;
    border-radius: 15px;
}

table,
th,
td {
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5)
}

th {
    width: 8rem;
    height: 3rem;
    font-weight: bold;
}

th:first-child {
    width: 25rem;
}

/****************************************
***********   GAME SECTION   ************
****************************************/

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 135px;
    width: 135px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.flipped {
    font-size: 33px;
}

.deck .card.done {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}