/****************************************
*************   BASIC  DESIGN   *********
****************************************/

body {
    font-size: 22px;
    background-image: url(./../images/geometry2.png)
}

h1 {
    text-align: center;
    font-size: 4rem;
    padding: 3rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.17rem;
    margin: 3rem;
}

h4 {
    font-size: 2.12rem;
}

p {
    font-size: 2rem;
}

/****************************************
***********   INFO SECTION   ************
****************************************/

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.start {
    width: 7rem;
    height: 4rem;
    margin: 5rem;
}

table,
th,
td {
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5)
}

th {
    width: 8rem;
    height: 3rem;
    font-weight: bold;
}

th:first-child {
    width: 25rem;
}

/****************************************
***********   GAME SECTION   ************
****************************************/

.game {
    height: 100vh;
}

.score-panel {
    display: flex;
    justify-content: space-around
}

.score {
    display: flex;
    flex-direction: row;
}

.restart,
.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
}
