/****************************************
*************   BASIC  DESIGN   *********
****************************************/

body {
    font-size: 22px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.17rem;
}

h4 {
    font-size: 2.12rem;
}


p {
    font-size: 2rem;
}


/****************************************
***********   INFO SECTION   ************
****************************************/

/****************************************
***********   GAME SECTION   ************
****************************************/